<nav class="navbar navbar-expand-lg navbar-light">
  <a id="brandATag" class="navbar-brand" href="#">GRAB DAT CAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gdcNavbarContent" aria-controls="gdcNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="gdcNavbarContent">
    <ul id="headerUL" class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" id="aboutLink" routerLink="/about">About</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInStatus == true">
          <a class="nav-link" id="accountLink"  routerLink="/account">Account</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInStatus == false">
          <a class="nav-link" id="loginLink"  routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInStatus == true">
          <a class="nav-link" id="kennelLink" routerLink="/kennel">Kennel</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInStatus == true">
          <a class="nav-link" id="searchLink" routerLink="/search">Search</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInStatus == false">
          <a class="nav-link" id="signupLink" routerLink="/signup">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInStatus == true">
          <a class="nav-link" id="logoutLink" (click)="logOut()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>