<div class="jumbotron jumbotron-fluid" id="aboutBanner">
  <h2>About</h2>
  <aside>Our <strong>claw</strong>-ver service to assist <strong>furr</strong>-iendly kittehs!</aside>
</div>

<div id="aboutTemplateDiv">
<h3>What the **** is Grab Dat Cat?</h3>
<section>
  <p>Hello, hooman. We kittehs seek a new home <strong>fur</strong> us to be nice and cozy in.</p>
  <p>If you use this app, you can sort through needy kitts in your area.</p>
  <p>Then you can contact the hoomans holding us and can bring us home. Then we'll snuggle in yo beeed, dance on your heeead, and knock shit off your counters.</p>
</section>
<img src="../../assets/catTroll.jpg"/>

</div>
