<div class="kennelCard">
  <button (click)="removeCat()">X</button>
  <h2>{{catData.name}}</h2>
  <img [src]="catData.photos && catData.photos.length > 0 ? catData.photos[0].small : '' "/>
  <h4>BREED: {{catData.breeds && catData.breeds.primary !== undefined ? catData.breeds.primary : "N/A"}}</h4>
  <h4>AGE: {{catData.age}}</h4>
  <h4>GENDER: {{catData.gender}}</h4>
  <h4>COLOR: {{ catData.colors && catData.colors.primary !== undefined ? catData.colors.primary : "N/A"}}</h4>
  <h4>COAT: {{catData.coat}}</h4>
  <h3>
    {{catData.status == "adoptable" ? "Available to adopt!" : "No longer available"}}
  </h3>
  <p>{{catData.description}}</p>

  
</div>
