<div class="jumbotron jumbotron-fluid" id="loginBanner">
  <h2>Login</h2>
  <aside>To proceed <strong>fur</strong>-ward you must log in!</aside>
</div>

<div class="container">
  <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="usernameInput">Username:</label>
      <input id="usernameInput" class="form-control" placeholder="Enter your mew-sername" name="username" type="text" [(ngModel)]="userCredentials.username" required/>
      <label for="passwordInput">Password:</label>
      <input id="passwordInput" class="form-control" placeholder="paw-ssword purr-ease!" type="password" name="password" [(ngModel)]="userCredentials.password" required>
      <button type="submit" [disabled]="loginFormIsDisabled" class="btn btn-info">LOGIN</button>
    </div>
  </form>
  <div>
    <h3>Sample Login</h3>
    <p><strong>Username:</strong> administrator</p>
    <p><strong>Password:</strong> passwordpassword</p>
  </div>
</div>