


<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group">
    <!-- <label>Username:
      <input placeholder="Enter your username" name="username" type="text" [(ngModel)]="userCredentials.username" required/>
    </label> -->
    <label for="usernameInput">Username:</label>
        <input id="usernameInput" class="form-control" placeholder="Enter your username" name="username" type="text" [(ngModel)]="userCredentials.username" required/>

    <label for="passwordInput">Password:</label>
      <input id="passwordInput" class="form-control" type="password" name="password" [(ngModel)]="userCredentials.password" required>

    <button type="submit" [disabled]="loginFormIsDisabled">LOGIN</button>
  </div>
</form>
