.catCard {
    border: solid black 3px;
    margin: 1vw 2vw;
    padding: 5vw;
}

.catCardName {
  font-family: "Leckerli One", cursive;

}

.catCardDescription {
  font-family: "Spinnaker", sans-serif;
}

.catCardDetails {
  font-family: "Leckerli One", cursive;
}

.catCardUL {
  list-style: none;
  font-family: "Spinnaker", sans-serif;
}

.catCardButton {
  text-align: center;
  font-family: "Leckerli One", cursive;
  width: -webkit-fill-available;
}
