<form (ngSubmit)="onSubmit()" #signupForm="ngForm">
  <label id="usernameLabel">Username:
    <input id="usernameInput"  placeholder="Enter your username" name="username" [(ngModel)]="model.username" type="text" required/>
  </label>
  <label id="passwordLabel">Password:
    <input  id="passwordInput" type="password" name="password" [(ngModel)]="model.password" placeholder="Enter your password" required/>
  </label>
  <label id="retypePasswordLabel">Re-Type Password:
    <input id="confirmInput" placeholder="Re-enter your password" type="password" name="passwordConfirm" [(ngModel)]="model.passwordConfirm" required/>
  </label>
  <label id="firstNameLabel">First Name:
    <input  id="firstNameInput" placeholder="Enter your first name" type="text" name="firstName" [(ngModel)]="model.firstName"  required />
  </label>
  <label id="lastNameLabel">Last Name:
    <input id="lastNameInput"  placeholder="Enter your last name" type="text" name="lastName" [(ngModel)]="model.lastName"  required />
  </label>
  <label id="birthdayLabel">Birthday:
    <input id="birthdayInput" placeholder="When's your birthday?" type="text" [(ngModel)]="model.birthday"  name="birthday">
  </label>
  <button  id="signupSubmitButton" type="submit" [disabled]="loginFormIsDisabled">LOGIN</button>
</form>
