
<form (ngSubmit)="onSubmit()" [formGroup]="queryForm"  >
<h2>Coats</h2>
<select placeholder=" " value={{coat}} formControlName="coat">
    <option value="">==ANY==</option>
    <option *ngFor="let coat of catCoats | async" value={{coat}} >
      {{coat}}
    </option>
  </select>

<h2>Gender</h2>
<select placeholder=" " formControlName="gender">
    <option value="">==ANY==</option>
    <option *ngFor="let gender of catGenders | async" value={{gender}}>
      {{gender}}
    </option>
  </select>

<h2>Age</h2>
<select placeholder=" " formControlName="age">
    <option value="">==ANY==</option>
    <option *ngFor="let age of catAges " value={{age}}>
      {{age}}
    </option>
  </select>

<h2>Breed</h2>
<select placeholder=" " formControlName="breed">
    <option value="">==ANY==</option>
  <option *ngFor="let breed of catBreeds | async" value={{breed}}>
    {{breed}}
  </option>
</select>

<h2>Color</h2>
<select formControlName="color">
  <option value="">==ANY==</option>
  <option *ngFor="let color of catColors | async" value={{color}}>
    {{color}}
  </option>
</select>
<button type="submit">SEEK</button>

</form>
<!-- <div>
  <li *ngFor="let cat of catResults">
    {{cat.name}}
  </li>
</div> -->

<app-cat-results [catResults]="catResults" ></app-cat-results>

