#accountBanner {
  background: #fb3640;
  text-align: center;
}

#accountBanner h2 {
  font-family: "Leckerli One",cursive;
  color: #e3f2fd;
}

#accountBanner aside {
  font-family: "Spinnaker", sans-serif;
  color: #e3f2fd;
}

#nameBirthdayForm {
  text-align: center;
}

#secondFormDiv {
  text-align: center;
  padding: 4vw;
}

#secondFormFormGroupDiv {
  display: grid;
    width: auto;
    max-width: 80vw;
    margin: auto;
}

#confirmationDiv {
  text-align: center;
  border: solid;
  width: 100vw;
  background: silver;
  position: fixed;
  top: 50%;
  padding: 2vw;
}

#confirmationDivFormGroup{
  display: grid;
  width: auto;
  max-width: 80vw;
  margin: auto;
}

@media screen and (min-width: 426px) {
  #secondFormFormGroupDiv {
    max-width: 55vw;
  }

  #confirmationDivFormGroup {
    max-width: 55vw;
  }
}